
/* the styles for the elements


CSS Reset


#element { margin:0; padding:0; font-size:100%; line-height:1; }

	/* #element rules:
#element { margin:5px 0 10px; font-size:13px; line-height:1.5; }



body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* the styles for the header
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}

header h2{
	font-size: 170%;
	color: #800000;
}

header h3{

	font-size: 130%;
	font-style: italic;
}

header em{
	text-shadow: 2px 2px #800000;
}

the styles for the section
main {
	clear: left;
}


main h1{

	font-size: 150%;
}

main h2{
	font-size: 130%;
	color: #800000;
}

main h3{
	font-size: 105%;
}
the styles for the footer

footer p{

	text-align: center;
	color: white;
}

 main a:hover{
	font-style: italic;
}


 body{
	 width: 600px;
	 margin-top: 0px;
	 margin-bottom: 0px;
	 margin-left: auto;
	 margin-right: auto;
 }

 body{
	 border-color: #931420;
	 border-style: solid;
	 border-width: 3px;
	 background: #fffded;
 }

 header{
	 border-bottom-style: solid;
	 border-bottom-color: #931420;
	 border-bottom-width: 3px;
 }

 main h1{
	 border-bottom-style: solid;
	 border-bottom-color: #931420;
	 border-bottom-width: 3px;

	 border-top-style: solid;
	 border-top-color: #931420;
	 border-top-width: 3px;
 }

 footer{
	 background-color: #931420;
 }




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	/*font-size: 100%;*/
	/*font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/*blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}


header{
	padding-top: 1.5em;
	padding-bottom: 2em
}

main{
	padding-right: 30px;
	padding-left: 30px;
}

main h1{
	padding-top: .3em;
	padding-bottom: .3em;
}

main h2{
	padding-top: .53em;
	padding-bottom: .25em;
}

main h3{
	padding-bottom: .25em;
}

main img{
	padding-bottom: 1em;
}

main p{
	padding-bottom: .5em;
}

main blockquote{
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}

main ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}
main li{
	padding-bottom: .35em;
}

footer p{
	padding-top: 1em;
	padding-bottom: 1em;
}

header{
	background-image: linear-gradient(30deg, #f6bb73 0%,#f6bb73 10%, white 50%, #f6bb73 100%, #f6bb73 100%);
}


main h3{
	border-radius: 8px;
	border: 2px solid #931420;
	padding: 10px;
	width: 200px;
	height: 37px;
	background: white;
	box-shadow: 5px 5px black;
}
*/

/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: linear-gradient(30deg, #f6bb73 0%,#f6bb73 10%, white 50%, #f6bb73 100%, #f6bb73 100%);
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the main content */
main {
	clear: left;
}

section{
	width: 525px;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
	
}

aside h2{

}

aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}

aside img{
	padding-bottom: 1em;
}

/* the h1 styles for exercise 5-1
main h1 {
	font-size: 150%;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    padding: .3em 0;
} */


/* the h1 styles for exercise 5-2 */
/*
main h1 {
	font-size: 150%;
	border: 3px double #800000;
	margin-bottom: .75em;
	border-radius: 10px;
	box-shadow: 5px 5px;
	padding: .5em 0 .5em 2em;
	background-color: white;
}
*/

article{
	padding-bottom: .5em;
	padding-top:  .5em;
	border-bottom: solid 2px #800000;
	border-top: solid 2px #800000;
}

article img{
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	border: solid 1px black;
}

section h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0;
}

section h2 {
	color: #800000;
	font-size: 130%;
	padding: 0 0 .25em 0;

}
section h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
section img {
	padding-bottom: 1em;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the footer */
footer {
	clear: both;
	background-color: #931420;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
